<h1>Liste des routes</h1>
<%= link_to 'Changer la formule', roads_changerFormule_path %>
<table border=1>
<tr>
    <th>libelle</th><th>Formule</th>

</tr>
    <% @roads.each do |road|%>
        <tr>
            <td>
                <%= road['nom'] %>
            </td>
            <td>
                <%= road['formule'] %>
            </td>
            <td>
                <%= link_to 'Changer la formule', roads_changerFormule_path(id: road['idroute']) %>
            </td>
            <td>
                <%= link_to 'Trier prestataire', roads_trierPrestataire_path(id: road['idroute']) %>
            </td>
        </tr>
    <% end %>
</table>
